@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

#wrapper {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

body {
    background-color: black;
    text-align: center;
}

div {
    padding: 0px;
    margin: 0 auto;
    width: 700px;
    margin-bottom: 0;
}

img {
    margin-top: 225px;
}

form { 
    margin: 0 auto;
    display: inline-block;
    margin-top: 28px;
}

input {
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    outline: none;
}

input[type=text] {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

input[type=button] {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 20px;
    font-weight: bold;
}

.motosearch p {
    margin: 0px;
    margin-left: 100px;
    text-align: left;
    font-family: 'Love Ya Like A Sister', cursive;
    font-color: blue;
    font-size: 18px;

}

h2 {
    margin-top: 60px;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 24px;
    color: #a5ff9b;
     animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */

}

